################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.claude
/DO-NOT-POST-UNTIL-OK
/CLAUDE.md
